<header>
    <nav class="navbar">
        <a class="logo" routerLink="">Головна</a>
        <a href="#">Про проект</a>
        <a href="#">Як користуватись</a>
        <a class="search" routerLink="search">Шукати книгу</a>
    </nav>
</header>   
<section class="landing">
    <p>Домашня сторінка</p>
    <div class="landing-search-panel">
        <input type="text" #searchText placeholder="Пошук книг...">
        <button (click)="handleClick(searchText.value)"><fa-icon [icon]="searchIcon"></fa-icon></button>
        <label for=""></label>
    </div>
</section>


